/* ===================================
   DISASTER TWIN AI - PREMIUM UI
=================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --bg:#0B1220;
    --card:#111827;
    --card2:#1F2937;

    --cyan:#00E5FF;

    --danger:#FF4D4D;

    --warning:#FACC15;

    --success:#22C55E;

    --text:#F9FAFB;
}

html,
body,
[class*="css"]{
    font-family:'Inter',sans-serif;
}

/* MAIN BACKGROUND */


.stApp{
background:

radial-gradient(
circle at top left,
rgba(0,229,255,.12),
transparent 30%
),

radial-gradient(
circle at bottom right,
rgba(255,77,77,.08),
transparent 30%
),

linear-gradient(
135deg,
#0B1220,
#111827,
#0B1220
);
}

/* REMOVE STREAMLIT DEFAULTS */

#MainMenu{
    visibility:hidden;
}

footer{
    visibility:hidden;
}

header{
    background:transparent;
}

[data-testid="stHeader"]{
    background:transparent;
}

/* PAGE WIDTH */

.block-container{
    max-width:1450px;
    padding-top:1rem;
    padding-left:2rem;
    padding-right:2rem;
}

/* SIDEBAR */

[data-testid="stSidebar"]{
background:
linear-gradient(
180deg,
#020617,
#071226,
#020617
);

border-right:1px solid rgba(255,255,255,.08);
}

/* SIDEBAR TEXT */

[data-testid="stSidebar"] *{
    color:white !important;
}

/* HERO */

.hero{
    font-size:64px;
    font-weight:900;
    color:white;

    background:
    linear-gradient(
    90deg,
    #60a5fa,
    #22d3ee
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    animation: glow 4s infinite alternate;
}

.subhero{
    font-size:20px;
    color:#cbd5e1;
    margin-bottom:30px;
}

@keyframes glow{

from{
filter:drop-shadow(0 0 10px rgba(59,130,246,.4));
}

to{
filter:drop-shadow(0 0 30px rgba(6,182,212,.8));
}

}

/* GLASS CARD */

.glass{
    background:rgba(255,255,255,.05);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.1);

    border-radius:35px;

    padding:15px 25px;

    margin-bottom:20px;

    box-shadow:
    0 8px 40px rgba(0,0,0,.25);
}

/* KPI CARDS */

.kpi{

min-height:130px;

display:flex;

flex-direction:column;

justify-content:center;

background:
linear-gradient(
135deg,
rgba(124,58,237,.15),
rgba(6,182,212,.08)
);

box-shadow:
0 10px 40px rgba(0,0,0,.25);
}

.kpi{

transition:
all .6s cubic-bezier(
0.22,
1,
0.36,
1
);
}

.kpi:hover{

transform:
translateY(-5px)
scale(1.015);

box-shadow:
0 15px 40px rgba(59,130,246,.18);
}

.num{
font-size:37px;
font-weight:900;

background:
linear-gradient(
90deg,
#67e8f9,
#a78bfa
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.kpi div:last-child{
    color:white;
    margin-top:8px;
}

/* INPUT BOXES */

.stTextInput input{

    background:#111827 !important;

    color:white !important;

    border:2px solid #1e293b !important;

    border-radius:16px !important;

    height:55px !important;
}

.stTextInput input:focus{

    border:2px solid #38bdf8 !important;

    box-shadow:
    0 0 15px rgba(56,189,248,.5);
}

/* TEXT AREA */

.stTextArea textarea{

    background:#111827 !important;

    color:white !important;

    border:2px solid #1e293b !important;

    border-radius:18px !important;

    min-height:160px !important;
}

/* LABELS */

label{
    color:white !important;
    font-weight:700 !important;
}

/* BUTTON */

.stButton button{

    width:100%;

    height:58px;

    border:none !important;

    border-radius:16px !important;

    background:
    linear-gradient(
    135deg,
    #2563eb,
    #06b6d4
    ) !important;

    color:white !important;

    font-size:17px !important;

    font-weight:800 !important;

    transition:.35s;
}

.stButton button:hover{

    transform:
    translateY(-4px)
    scale(1.02);

    box-shadow:
    0 0 30px rgba(6,182,212,.6);
}

/* METRIC CARDS */

[data-testid="metric-container"]{

    background:
    rgba(255,255,255,.05);

    border-radius:18px;

    padding:20px;

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(15px);
}

/* METRIC TEXT */

[data-testid="metric-container"] *{
    color:white !important;
}

/* SUCCESS */

.stSuccess{

    border-radius:18px;
}

/* INFO */

.stInfo{

    border-radius:18px;
}

/* WARNING */

.stWarning{

    border-radius:18px;
}

/* ERROR */

.stError{

    border-radius:18px;
}

/* DATAFRAME */

[data-testid="stDataFrame"]{

    background:#0f172a;

    border-radius:20px;

    overflow:hidden;
}

/* CHECKBOXES */

.stCheckbox label{
    color:white !important;
}

/* PROGRESS BAR */

.stProgress > div > div{

    background:
    linear-gradient(
    90deg,
    #2563eb,
    #06b6d4
    ) !important;
}

/* SCROLLBAR */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#0f172a;
}

::-webkit-scrollbar-thumb{
    background:#2563eb;
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background:#06b6d4;
}
.block-container{
max-width:1500px;
padding-top:2rem;
padding-left:2rem;
padding-right:2rem;
}
[data-testid="stSidebar"]{
background:
linear-gradient(
180deg,
#020617,
#0f172a,
#020617
) !important;
border-right:1px solid rgba(59,130,246,.25);
}
h1,h2,h3,h4,h5,h6{
color:white !important;
}

p{
color:#cbd5e1;
}

label{
color:white !important;
}

[data-testid="metric-container"]{
background:rgba(255,255,255,.05);
backdrop-filter:blur(20px);
border-radius:20px;
padding:18px;
border:1px solid rgba(255,255,255,.08);
}

.stTextArea textarea{
background:#0f172a !important;
color:white !important;
font-size:16px !important;
border-radius:18px !important;
padding:15px !important;
}

.stButton button:hover{
transform:translateY(-4px);
box-shadow:
0 0 20px #3b82f6,
0 0 40px #06b6d4;
}

.severity{
background:#dc2626;
padding:20px;
border-radius:20px;
color:white;
font-size:24px;
font-weight:700;
text-align:center;
margin-bottom:20px;
box-shadow:0 0 20px rgba(220,38,38,.5);
}

.hero-red{
padding:30px;
border-radius:25px;
background:rgba(220,38,38,.15);
border:2px solid #dc2626;
box-shadow:0 0 30px rgba(220,38,38,.5);
}

.hero-yellow{
padding:30px;
border-radius:25px;
background:rgba(234,179,8,.15);
border:2px solid #eab308;
box-shadow:0 0 30px rgba(234,179,8,.5);
}

.hero-green{
padding:30px;
border-radius:25px;
background:rgba(34,197,94,.15);
border:2px solid #22c55e;
box-shadow:0 0 30px rgba(34,197,94,.5);
}

.hero-content{

display:flex;

align-items:center;

justify-content:center;

gap:25px;

text-align:center;
}

.hero-icon{

font-size:72px;

color:#67e8f9;

filter:
drop-shadow(0 0 25px rgba(103,232,249,.8));

animation:floaty 4s ease-in-out infinite;
}

@keyframes floaty{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0px);
}
}
/* ==========================
   PREMIUM COLOR UPGRADE
========================== */

:root{
    --purple:#8b5cf6;
    --pink:#ec4899;
    --orange:#f97316;
    --gold:#facc15;
}

/* HERO TITLE */

.hero-box{
    padding:35px;
    border-radius:40px;
    margin-top:0;

    background:
    linear-gradient(
        135deg,
        rgba(139,92,246,.25),
        rgba(236,72,153,.18),
        rgba(249,115,22,.18)
    );

    border:1px solid rgba(255,255,255,.08);

    box-shadow:
    0 0 50px rgba(139,92,246,.25);

    text-align:center;
}

/* KPI CARDS */

.kpi{

background:
linear-gradient(
145deg,
rgba(99,102,241,.20),
rgba(168,85,247,.12)
);

backdrop-filter:blur(24px);

border:1px solid rgba(255,255,255,.10);

border-radius:35px;

padding:28px;

min-height:130px;

box-shadow:
0 10px 40px rgba(0,0,0,.25);

transition:
all .7s cubic-bezier(
0.22,
1,
0.36,
1
);
display:flex;
flex-direction:column;
justify-content:center;

}

.kpi:hover{

transform:
translateY(-10px)
scale(1.03);

box-shadow:
0 25px 60px rgba(99,102,241,.35);

border:1px solid rgba(129,140,248,.40);
}

/* BUTTON */

.stButton button{
    background:
    linear-gradient(
        135deg,
        #8b5cf6,
        #ec4899
    ) !important;
}

.stButton button:hover{
    box-shadow:
    0 0 25px #8b5cf6,
    0 0 45px #ec4899;
}

/* METRICS */

[data-testid="metric-container"]{
    background:
    linear-gradient(
        135deg,
        rgba(139,92,246,.15),
        rgba(236,72,153,.08)
    );

    border:1px solid rgba(255,255,255,.08);
}

/* SUCCESS BOX */

.stSuccess{
    border-left:5px solid #22c55e;
}

/* WARNING */

.stWarning{
    border-left:5px solid #facc15;
}

/* ERROR */

.stError{
    border-left:5px solid #ef4444;
}

/* SECTION HEADINGS */

h1,h2,h3{
    background:
    linear-gradient(
        90deg,
        #8b5cf6,
        #ec4899,
        #f97316
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.glass{
box-shadow:
0 0 30px rgba(0,229,255,.15);
}

.kpi{
box-shadow:
0 0 25px rgba(0,229,255,.08);
}

.hero-red{
animation:pulseRed 2s infinite;
}

@keyframes pulseRed{

0%{
box-shadow:0 0 10px rgba(255,77,77,.4);
}

50%{
box-shadow:0 0 40px rgba(255,77,77,.9);
}

100%{
box-shadow:0 0 10px rgba(255,77,77,.4);
}
}

.hero-box{
padding:35px;
border-radius:28px;

background:
linear-gradient(
135deg,
rgba(0,229,255,.08),
rgba(255,255,255,.02)
);

border:1px solid rgba(0,229,255,.15);

backdrop-filter:blur(20px);

box-shadow:
0 0 40px rgba(0,229,255,.10);

margin-bottom:25px;
}

.hero-box h1{
font-size:58px;
font-weight:900;

background:
linear-gradient(
90deg,
#00E5FF,
#FFFFFF
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

margin-bottom:10px;
}

.hero-box p{
font-size:20px;
color:#CBD5E1;
}

.hero-box{

animation:floatGlow 4s ease-in-out infinite;
}

@keyframes floatGlow{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-6px);
}

100%{
transform:translateY(0px);
}
}
.hero-box{

padding:50px;

border-radius:30px;

background:
linear-gradient(
135deg,
rgba(0,212,255,.08),
rgba(88,28,135,.08)
);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

margin-bottom:30px;

overflow:hidden;
}

.hero-content{

display:flex;

align-items:center;

justify-content:center;

gap:30px;

text-align:center;
}

.hero-icon{
font-size:72px;
color:#67e8f9;
filter:
drop-shadow(0 0 20px rgba(103,232,249,.8));
}

.hero-box h1{

font-size:64px;

font-weight:900;

margin:0;

background:
linear-gradient(
90deg,
#67e8f9,
#60a5fa,
#a855f7
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.hero-box p{

font-size:22px;

margin-top:15px;

color:#dbeafe;
}

@keyframes floaty{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0px);
}

}

.hero-box::after{

content:"";

position:absolute;

width:300px;

height:300px;

background:
radial-gradient(
circle,
rgba(168,85,247,.25),
transparent
);

right:-100px;

top:-100px;

filter:blur(70px);
}
.live-status{

display:inline-block;

margin-top:20px;

padding:10px 18px;

border-radius:50px;

background:rgba(34,197,94,.15);

border:1px solid rgba(34,197,94,.4);

color:#4ade80;

font-weight:700;

font-size:14px;

animation:pulseLive 2s infinite;
}

@keyframes pulseLive{

0%{
box-shadow:0 0 0 rgba(34,197,94,.3);
}

50%{
box-shadow:0 0 20px rgba(34,197,94,.8);
}

100%{
box-shadow:0 0 0 rgba(34,197,94,.3);
}
}
section[data-testid="stSidebar"]{
    min-width:320px !important;
    max-width:320px !important;
}
[data-testid="stSidebar"] .stAlert{
border-radius:20px !important;
margin-bottom:15px !important;
padding:18px !important;

background:rgba(255,255,255,.05) !important;
backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08) !important;
}
.stApp::before{
content:"";

position:fixed;

top:-300px;
left:-300px;

width:700px;
height:700px;

background:
radial-gradient(
circle,
rgba(99,102,241,.20),
transparent 70%
);

pointer-events:none;
}

.stApp::after{
content:"";

position:fixed;

bottom:-300px;
right:-300px;

width:700px;
height:700px;

background:
radial-gradient(
circle,
rgba(168,85,247,.15),
transparent 70%
);

pointer-events:none;
}
.glass-map{
    padding:20px;
    border-radius:30px;
    background:rgba(255,255,255,.04);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.08);
    margin-bottom:25px;
    overflow:hidden;
}
.js-plotly-plot{
border-radius:25px !important;
overflow:hidden !important;
background:rgba(255,255,255,.03) !important;
backdrop-filter:blur(20px);
padding:10px;
}
.hero-box{

position:relative;

overflow:hidden;
}

.hero-box::before{

content:"";

position:absolute;

top:-50%;

left:-50%;

width:200%;

height:200%;

background:

radial-gradient(
circle,
rgba(0,255,255,.08),
transparent 60%
);

animation:rotateGlow 15s linear infinite;
}

@keyframes rotateGlow{

from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}

}

.stChatInput textarea{
    color:#ffffff !important;
}

.stChatInput{
    background:#0f172a !important;
}
/* Gemini Report Text Fix */

.stMarkdown,
.stMarkdown p,
.stMarkdown li,
.stMarkdown span,
.stMarkdown div {
    color: white !important;
}

/* AI Report Section */
[data-testid="stMarkdownContainer"] {
    color: white !important;
}